<!-- jQuery library -->
<script type="text/javascript" src="/js/vendor/jquery-3.2.1.min.js"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
<!-- prettify js -->
<script type="text/javascript" src="/js/vendor/prettify.js"></script>
<!-- custom js -->
<script type="text/javascript" src="/js/blogs.js"></script>
</body>
</html>