<!DOCTYPE html>
<html>
<head>
	<!-- meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>CHONG'S BLOG</title>

	<!-- favicon -->
	<link rel="shortcut icon" href="/img/favicon.png">

	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
	
	<!-- bootstrap css sheet -->
	<link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap.min.css">
	<!-- font awesome css sheet -->
	<link rel="stylesheet" type="text/css" href="/css/vendor/font-awesome.min.css">

	<style>
		html, body {
			height: 100%;
			width: 100%;
			margin: 0;
			padding: 0;
			background-color: #41464b;
			color: #f7f7f7;
			font-family: "Roboto Condensed", Arial, sans-serif; 
		}

		#error {
			position: relative;
			top: 50%;
			text-align: center;
			transform: translateY(-60%);
		}

		#error-image, #error-text {
			margin-bottom: 15px;
		}

		#error-text {
			font-size: 25px;
			font-weight: 400;
		}

		#error-link>a {
			color: #34c6d3;
			font-size: 18px;
		}
	</style>
</head>

<body>
<section id="error">
	<div id="error-image"><img src="img/error.jpg"></div>
	<div id="error-text"><p>Opps, the site has been chilled ⑨ !</p></div>
	<div id="error-link"><a href="/blogs?page=1">Return to index</a></div>
</section>

<!-- jQuery library -->
<script type="text/javascript" src="/js/vendor/jquery-3.2.1.min.js"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
</body>
</html>