<!DOCTYPE html>

<html>
<head>
	<!-- meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- SEO meta tags -->
	<meta name="description" content="personal website of Chong Liu, a web developer for hire">
	<meta name="keywords" content="resume, web, hire, web develop, web design, developer">

	<!-- title -->
	<title>Chong's Portfolio</title>

	<!-- favicon -->
	<link rel="shortcut icon" href="/img/favicon.png">

	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">

	<!-- bootstrap css sheet -->
	<link rel="stylesheet" type="text/css" href="/css/vendor/bootstrap.min.css">
	<!-- font awesome css sheet -->
	<link rel="stylesheet" type="text/css" href="/css/vendor/font-awesome.min.css">
	<!-- owl carousel css sheet -->
	<link rel="stylesheet" type="text/css" href="/css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/owl.theme.default.min.css">
	<!-- animate js css sheet -->
	<link rel="stylesheet" type="text/css" href="/css/vendor/animate.min.css">
	<!-- custom css sheets -->
	<link rel="stylesheet" type="text/css" href="/css/landing.css">
	<link rel="stylesheet" type="text/css" href="/css/landing.responsive.css">
</head>

<body data-spy="scroll" data-target="#nav-menu"  data-offset="65">
<!-- header -->
<header>
	<nav class="navbar navbar-fixed-top" id="top-nav">
		<div class="container-fluid">
			<div id="nav-wrapper">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="">Chong</a>
				</div>
				<div id="nav-menu" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#home" class="smooth-scroll">Home</a></li>
						<li><a href="#skills" class="smooth-scroll">Skills</a></li>
						<li><a href="#education" class="smooth-scroll">Education</a></li>
						<li><a href="#projects" class="smooth-scroll">Projects</a></li>
						<li><a href="#contact" class="smooth-scroll">Contact</a></li>
						<li><a href="/blogs?page=1" id="blog-link">Blog</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>

<!-- home section -->
<section id="home">
	<div class="bg-parallax animated wow fadeIn" id="home-cover">
		<div id="home-content-box">
			<div id="home-content">
				<div class="animated wow zoomIn" id="home-heading" data-wow-delay="0.5s">
					<h1>I am Chong<br>a web developer<br>for hire</h1>
				</div>
				<div class="animated wow zoomIn" id="home-resume-btn" data-wow-delay="1s">
					<a class="btn btn-lg btn-general btn-white" href="">Resume</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- skills section -->
<section id="skills">
	<div class="content-box">
		<div class="content-title animated wow fadeInDown" data-wow-delay="0.5s">
			<h3>My Skills</h3>
			<div class="content-title-underline"></div>
		</div>
		<div class="container animated wow bounceInRight" id="skills-content" data-wow-delay="1s">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<div class="skills">
						<div class="skill-name">Java:</div>
						<div class="skill-progress">
							<div class="progress progress-striped active">
								<div class="progress-bar" role="progressbar" aria-valuenow="90"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="skills">
						<div class="skill-name">MySQL:</div>
						<div class="skill-progress">
							<div class="progress  progress-striped active">
								<div class="progress-bar" role="progressbar" aria-valuenow="90"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="skills">
						<div class="skill-name">JavaScript:</div>
						<div class="skill-progress">
							<div class="progress  progress-striped active">
								<div class="progress-bar" role="progressbar" aria-valuenow="80"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="skills">
						<div class="skill-name">MongoDB:</div>
						<div class="skill-progress">
							<div class="progress  progress-striped active">
								<div class="progress-bar" role="progressbar" aria-valuenow="75"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="skills">
						<div class="skill-name">Node&Express:</div>
						<div class="skill-progress">
							<div class="progress  progress-striped active">
								<div class="progress-bar" role="progressbar" aria-valuenow="70"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="skills">
						<div class="skill-name">jQuery:</div>
						<div class="skill-progress">
							<div class="progress  progress-striped active">
								<div class="progress-bar" role="progressbar" aria-valuenow="75"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="skills">
						<div class="skill-name">Python:</div>
						<div class="skill-progress">
							<div class="progress  progress-striped active">
								<div class="progress-bar" role="progressbar" aria-valuenow="65"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="skills">
						<div class="skill-name">HTML&CSS:</div>
						<div class="skill-progress">
							<div class="progress  progress-striped active">
								<div class="progress-bar" role="progressbar" aria-valuenow="85"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="skills">
						<div class="skill-name">PHP&Laravel:</div>
						<div class="skill-progress">
							<div class="progress  progress-striped active">
								<div class="progress-bar" role="progressbar" aria-valuenow="60"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<div class="skills">
						<div class="skill-name">Bootstrap:</div>
						<div class="skill-progress">
							<div class="progress  progress-striped active">
								<div class="progress-bar" role="progressbar" aria-valuenow="65"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- education section -->
<section id="education">
	<div class="bg-parallax" id="education-cover">
		<div class="content-box">
			<div class="content-title content-title-white animated wow fadeInDown" data-wow-delay="0.5s">
				<h3>Education</h3>
				<div class="content-title-underline"></div>
			</div>
			<div id="education-content"  class="animated wow fadeInUp" data-wow-delay="0.5s">
				<p id="education-school">University of British Columbia</p>
				<p id="education-major">Major in computer science</p>
				<p id="education-date">Sep 2014 - July 2017</p>
				<p id="education-available">Available July 2017</p>
			</div>
		</div>
	</div>
</section>

<!-- projects section -->
<section id="projects">
	<div class="content-box">
		<div class="content-title animated wow fadeInDown" data-wow-delay="0.5s">
			<h3>My Projects</h3>
			<div class="content-title-underline"></div>
		</div>
		<div id="projects-content"  class="animated wow bounceInUp" data-wow-delay="0.5s">
			<div id="projects-content-wrapper">
				<div class="owl-carousel owl-theme">
					<div class="project">
						<h4 class="project-title">Digital Archive Database Project</h4>
						<p class="project-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<div class="project-github">
							<span class="project-github-label"><i class="fa fa-github"></i> Github:</span>
							<span class="project-github-link"><a href="https://github.com/getify/You-Dont-Know-JS">https://github.com</a></span>
						</div>
						<div class="project-keywords">
							<span class="project-keyword-label">Keywords:</span>
							<span class="project-keyword">PHP</span>
							<span class="project-keyword">Laravel</span>
							<span class="project-keyword">MySQL</span>
							<span class="project-keyword">HTML&CSS</span>
							<span class="project-keyword">JavaScript</span>
						</div>
					</div>
					<div class="project">
						<h4 class="project-title">Yelp Camp</h4>
						<p class="project-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<div class="project-github">
							<span class="project-github-label"><i class="fa fa-github"></i> Github:</span>
							<span class="project-github-link"><a href="https://github.com/getify/You-Dont-Know-JS">https://github.com</a></span>
						</div>
						<div class="project-keywords">
							<span class="project-keyword-label">Keywords:</span>
							<span class="project-keyword">JavaScript</span>
							<span class="project-keyword">Node</span>
							<span class="project-keyword">Express</span>
							<span class="project-keyword">MongoDB</span>
						</div>
					</div>
					<div class="project">
						<h4 class="project-title">Hexagon Minesweeper</h4>
						<p class="project-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur..</p>
						<div class="project-github">
							<span class="project-github-label"><i class="fa fa-github"></i> Github:</span>
							<span class="project-github-link"><a href="https://github.com/getify/You-Dont-Know-JS">https://github.com</a></span>
						</div>
						<div class="project-keywords">
							<span class="project-keyword-label">Keywords:</span>
							<span class="project-keyword">Java</span>
							<span class="project-keyword">JavaFX</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- contact section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div id="contact-left"  class="animated wow bounceInLeft" data-wow-delay="0.5s">
					<h3>Chong Liu</h3>
					<p>I am a developer. I am a full stack web developer. I'm ready to be hired for people to fulfill their fantasies, the perfect efficient fantasies.</p>
					<div id="contact-info">
						<address>
							<strong>Address: </strong><br>
							<p>210-240 Hollywood Rd North<br> Kelowna, BC V1X6Y9</p>
						</address>
						<div id="phone-email">
							<p><strong>Phone: </strong><span>1 250 768 6263</span></p>
							<p><strong>Email: </strong><span>idothedirtywork@gmail.com</span></p>
						</div>
					</div>
					<ul class="social-list">
						<li><a class="social-icon icon-white"><i class="fa fa-facebook"></i></a></li>
						<li><a class="social-icon icon-white"><i class="fa fa-twitter"></i></a></li>
						<li><a class="social-icon icon-white"><i class="fa fa-google-plus"></i></a></li>
						<li><a class="social-icon icon-white"><i class="fa fa-youtube-play"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div id="contact-right"  class="animated wow bounceInRight" data-wow-delay="0.5s">
					<h3>Contact Me</h3>
					<form action="/email" method="post">
						<input type="text" name="fullname" placeholder="Full Name" class="form-control" required="">
						<input type="email" name="email" placeholder="Email Address" class="form-control" required="">
						<textarea rows="5" name="message" placeholder="Type your message here ... " class="form-control" required=""></textarea>
						<div id="sent-btn"><button type="submit" class="btn btn-lg btn-general btn-white" role="button">SEND</button></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- footer section -->
<footer>
	<div id="footer-content">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div id="footer-copyright"><p>Copyright &copy; 2017 All Rights Reserved by Chong.</p></div>
				</div>
				<div class="col-md-6">
					<div id="footer-menu" class="hidden-sm hidden-xs">
						<ul>
							<li><a href="#home" class="smooth-scroll">Home</a> | </li>
							<li><a href="#skills" class="smooth-scroll">Skills</a> | </li>
							<li><a href="#education" class="smooth-scroll">Education</a> | </li>
							<li><a href="#projects" class="smooth-scroll">Projects</a> | </li>
							<li><a href="#contact" class="smooth-scroll">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#home" id="back-to-top" class="btn btn-sm btn-blue btn-back-to-top smooth-scroll hidden-xs" title="home"><i class="fa fa-angle-up"></i></a>
</footer>

<!-- jQuery library -->
<script type="text/javascript" src="/js/vendor/jquery-3.2.1.min.js"></script>
<!-- bootstrap js -->
<script type="text/javascript" src="/js/vendor/bootstrap.min.js"></script>
<!-- owl carousel -->
<script type="text/javascript" src="/js/vendor/owl.carousel.min.js"></script>
<!-- wow js -->
<script type="text/javascript" src="/js/vendor/wow.min.js"></script>
<!-- jQuery easing plugin -->
<script type="text/javascript" src="/js/vendor/jquery.easing.1.3.js"></script>
<!-- custom js -->
<script type="text/javascript" src="/js/landing.js"></script>
</body>
</html>